@import 'colors';
.title{
  font-size:3rem;
  letter-spacing: .5px;
  font-family: "Maven Pro",sans-serif;
  font-weight: 600;
  color:$main

}
.container{
  margin: 1rem;
  margin-left: 5em;
  margin-right: 5em;
}

.description{
  display: flex;
  font-family: "Maven Pro",sans-serif;
  font-weight: 400;
  font-size:1.5rem;
}

.detail{
  font-family: "Maven Pro",sans-serif;
  font-weight: 400;
  color:$main;
  margin-right: 1rem;
}