@import 'colors';


.bookingCard{
    position: sticky;
    top: 5rem;
    right: 5rem;
    margin-top:1rem;
    margin-left:0.5rem;
    width: 40%;
    z-index: 10;
    border-radius: 0.5rem;
    height: 50vh;
    padding: 1rem;
    background-color: $background;
    box-shadow: 0 0 10px $shadow;

    h2{
        font-family: "Maven Pro",sans-serif;
        font-weight: 500;
        font-size:1.25rem;
    }
    p{
        margin-top:10px;
        font-weight: 400;
        color: grey;
    }
}