@import './colors';

.hotelTitle{
    text-align:center;
    font-family: 'kraftan',sans-serif;
    -webkit-text-fill-color: $grey;
    font-weight: 100;
    font-size: 4rem;
}
.hotelContainer{
    width:screen;
    display: flex;
    flex-wrap: wrap;
    padding:0 8% 0 8%;
    justify-content: start;
    align-items:center;
    @media screen and (max-width: 800px) {
        flex-direction: column;
        padding:0 0% 0 0%;
    }

    .hotelCard{
        width: 28%;
        height: 28rem;
        box-shadow: 0 0 15px $shadow2;
        border-radius: 0.75rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        justify-content: flex-start;
        font-family: 'Mada', sans-serif;
        @media screen and (max-width: 800px) {
            width: 90%;
            margin-left: 0rem;
        }

        h2{
            text-align:left;
            padding-bottom: 1rem;
            -webkit-text-fill-color: $grey;
            font-family: 'kraftan',sans-serif;
            font-size: 1.4rem;
            margin-bottom: -.75rem;
            
        }
        .images{
            position: relative;
        }
        .left{
            position: absolute;
            height: 2rem;
            width:2rem;
            left: 5%;
            top:40%;
            cursor: pointer;
        }
        .right{
            position: absolute;
            height: 2rem;
            width:2rem;
            right: 5%;
            top:40%;
            cursor: pointer;
        }
        a{
            padding: .75rem;
            text-decoration: none;
        }

        .ratingContainer {
            color: $grey;
            margin: 1rem 0;
            font-size: 1.25rem;
            padding: 0.5rem;

            .rating {
                margin: 0.5rem 0;
            }
        }

        p{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-size: 1.5rem;
            color: $grey2;
        }
        img{
            border-radius: 0.35rem 0.35rem 0 0;
            width: 100%;
            height: 12rem;
            position: relative;
            margin-bottom:-1rem;
            @media screen and (max-width: 800px) {
                width: 100%;
            }
        }
    }
    .hotelCard:hover{
        box-shadow: 0 0 20px $shadow2;
    }
}
