@import './colors';

.hotelContainer{
    width: screen;
    display: flex;
    flex-direction: column;
    align-items:center;
    h1{
        text-align:center;
        font-family: 'kraftan',sans-serif;
        -webkit-text-fill-color: $main;
        font-size: 4rem;
    }

    .hotelCard{
        width: 80%;
        box-shadow: 0 0 10px $shadow;
        border-radius: 0.75rem;
        margin: 1rem 0 1rem 0;
        display: flex;
        text-decoration: none;
        justify-content: space-between;
        font-family: 'Mada', sans-serif;
        padding: 1rem;
        padding-left: 2rem;
        @media screen and (max-width: 800px) {
            flex-direction: column;
        }
        cursor: pointer;
        h2{
            text-align:left;
            padding-bottom: 1rem;
            -webkit-text-fill-color: $grey;
            font-family: 'kraftan',sans-serif;
            font-size: 2rem;
            margin-bottom: -.75rem;
            
        }
        a{
            font-size: 1rem;
            color: $main;
        }
        p{
            width: 80%;
            font-size: .85rem;
            color: $grey2;
        }

        img{
            border-radius: 0.35rem;
            width: 30%;
            @media screen and (max-width: 800px) {
                width: 90%;
            }
        }
    }
    .hotelCard:hover{
        box-shadow: 0 0 20px $shadow2;
    }
}