@import 'colors';

.navbar{
    background-color: $background;
    width: screen;
    height: 4rem;
    box-shadow: 0 0 10px $shadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    z-index: 10;
    top: 0;
    @media screen and (max-width: 800px) {
       align-items: center;
    }
}


  
.logo{
    height: 90%;
    margin-left: 0.5em;
    @media screen and (max-width: 800px) {
        height:80%;
    }
    
}
.Book {
    font-family: "Maven Pro",sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    border: 1px solid $main;
    border-radius: 0.5rem;
    text-align: center;
    transition-duration: 0.5s;
    font-size: 20px;
    margin-right: 1rem;
    color: black;
    @media screen and (max-width: 800px) {
        display: none;
    }
}

.Book:hover{
    color: white;
    background: $gradient;
}

.item::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}

.item:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.item::before {
    content: " ";
    position: absolute;
    inset: 0 0 0 0;
    background: $main;
    z-index: -1;
    transition: transform .3s ease;
    border-radius: 0.25rem;
}
.item{
    cursor: pointer;
    position: relative;
    padding: 0.5rem;
    @media screen and (max-width: 800px) {
        display: none;
    }
}
.item:hover{
    color:white;
}

.TourPackage {
    font-family: "Maven Pro",sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    @media screen and (max-width: 800px) {
        justify-content: flex-end;
        padding-right: 1rem;

    }
}
    

@media only screen and (max-width: 450px) {
   
    .item{
     font-size: 0.5rem;
     cursor: pointer;
     position: relative;
     padding: 0.3rem;
   }
 
   .logo{
 
    height: 60%;
    margin-top: 0.3rem;
    margin-left: 0.1rem;
   }


 
 }