.photoSlider{
    display: flex;
    overflow-y: scroll;
    height:65vh;
    width: screen;
    border-radius: 1rem;
    margin: 1rem;
    margin-left: 5em;
    margin-right: 5em;
}

.image{
    margin-right:1rem;
}