@import 'colors';
.photoSlider{
    display: flex;
    overflow-x: scroll;
    height:65vh;
    width: screen;
    border-radius: 1rem;
    margin: 1rem;
    margin-left: 5em;
    margin-right: 5em;
    @media screen and (max-width: 800px) {
        height:40vh;
        margin: 1rem 0.5rem 0rem 0.5rem;
        border-radius: 0.5rem;
    }
}

.photoSlider::-webkit-scrollbar {
    display:none;
}

.image{
    margin-right:1rem;
    box-shadow: 0 0 10px $shadow;
}

.leftIcon{
    position: absolute;
    top: 20rem;
    left: 6rem;
    cursor: pointer;
    @media screen and (max-width: 800px) {
        top:15rem;
        left: 2rem;
    }
}
.rightIcon{
    position: absolute;
    top: 20rem;
    right: 6rem;
    cursor: pointer;
    @media screen and (max-width: 800px) {
        top:15rem;
        right: 2rem;
    }
}
