@import 'colors';
.photoSlider{
    display: flex;
    overflow-y: scroll;
    height:65vh;
    width: screen;
    border-radius: 1rem;
    margin: 1rem;
    margin-left: 5em;
    margin-right: 5em;
    
}

.image{
    margin-right:1rem;
    box-shadow: 0 0 10px $shadow;
}

.leftIcon{
    position: absolute;
    top: 20rem;
    left: 6rem;
    cursor: pointer;
}
.rightIcon{
    position: absolute;
    top: 20rem;
    right: 6rem;
    cursor: pointer;
}