@import 'colors';

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 15rem;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
}
.planCard{
    box-shadow: 0 0 10px $shadow;
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
}

.button{
    @extend .noselect;
    background-color: $main;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
.button:hover{
    background-color: #a06f1a;
}
.button:active{
    box-shadow: inset 0 0 10px #7c5616;
}
.noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
          -ms-user-select: none;
              user-select: none;
  }