@import '../colors';

.amenContent{
    text-align:center;
    width:80%;
    display: flex;
    margin-top:10rem;
    margin-bottom:5rem;
    flex-direction:column;
    align-items:center;
    margin-bottom: 7rem;
    @media screen and (max-width: 800px) {
        margin-bottom: 2rem;
    }

    h2{
        margin: -5rem 0 .25rem 0 ;
        font-size: 5rem;
        margin-bottom: 1rem;
        font-weight:200;
        -webkit-text-fill-color: $grey;
        font-family:'Kraftan',sans-serif;
        @media screen and (max-width: 800px) {
            font-size: 2rem;
        }
    }

    div{
        margin-top: .25rem;
        display: flex;
        color: $main;
        font-family: "Maven Pro",sans-serif;
        font-weight:400;
        font-size: 1rem;
        align-items: center;
        @media screen and (max-width: 800px) {
            flex-wrap: wrap;
            justify-content:center;
        }
    }
    img{
        width: 10rem;
        @media screen and (max-width: 800px) {
            width:5rem;
        }
    }
    .amenety{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height:12rem;
        margin-right: 2rem;
        @media screen and (max-width: 800px) {
            height:9rem;
            flex-direction: column;
        }
    }
    

}