@import '../colors';

.carouselBody{
    border-radius:1rem;
    background-color:black;
    width:98%;
    height:75vh;
    position: relative;
    z-index: 10;
    margin-bottom: 1rem;
    margin-top: 2rem;
    img{
        position: relative;
        z-index: -10;
        width:100%;
        border-radius:1rem;
        height:75vh;
    }
    h2{
        position:absolute;
        top:30%;
        width:100%;
        text-align:center;
        font-size: 8rem;
        font-weight: 400;
        -webkit-text-fill-color: white;
        font-family:'Kraftan',sans-serif;
        text-shadow: 0 0 10px $shadow;
        @media screen and (max-width: 800px) {
            font-size:4rem;
            top:40%;
        }
    }
    h1{
        position:absolute;
        top:20%;
        width:100%;
        text-align:center;
        font-size: 3rem;
        font-weight: 600;
        -webkit-text-fill-color: white;
        font-family:'Kraftan',sans-serif;
        text-shadow: 0 0 10px $shadow;
        @media screen and (max-width: 800px) {
            font-size:2rem;
        }
    }
    @media screen and (max-width: 800px) {
        height: auto;
        background-color:transparent;
    }
}
.bookingBar{
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    align-items: center;
    bottom: -3rem;
    box-shadow: 0 0 10px $shadow2;
    left: 10%;
    width: 80%;
    height: 18%;
    border-radius:.5rem;
    background-color:$secondary;
    @media screen and (max-width: 800px) {
        flex-direction: column-reverse;
        align-items: center;
        height: 20rem;
        padding-top:1.5rem;
        padding-bottom: 1.5rem;
        position: relative;
    }

    .line{
        background: #937749;
        width: 1px;
        height: 70%;
        @media screen and (max-width: 800px) {
            width: 70%;
            height: 1px;
        }
    }

    .guests{
        display: flex;
        flex-direction:column;
        width: 10rem;
        justify-content:center;
        
        input{
            margin-bottom: 0;
            margin-left: 0rem;
            text-align: center;
            width: 10rem;
            @media screen and (max-width: 800px) {
                margin-left: -.25rem;
            }
        }
        .change{
            display:flex;
            align-items: center;
            justify-content: center;
            margin-bottom:-.5rem;
            .changeValue{
                color: #937749;
                text-align: center;
                font-size:1.5rem;
                cursor: none;
            }
            .changeValue::selection{
                display:none;
            }
        }
    }

    .search{
        display: flex;
        width: 15rem;
        justify-content:center;
        align-items: center;
        margin-left: 2rem;
        @media screen and (max-width: 800px) {
            margin-left: 0rem;
        }
        input{
            margin-bottom: 0;
            margin-left: 0;
            text-align: left;
            width: 11rem;
            border: 1px solid #937749;
            padding: .5rem;
            border-radius: .5rem;
        }
        img{
            @media screen and (max-width: 800px) {
                display:none;
            }
        }
    }

    .input{
        display: flex;
        width: 30%;
        justify-content: space-between;
        @media screen and (max-width: 800px) {
            width: 90%;
        }
    }
    input{
        color: #937749;
        font-family: 'Mada',sans-serif;
        font-size:1.5rem;
        font-weight: 200;
        border:none;
        background:$secondary;
        width: 8rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    input::placeholder{
        color: #937749;
    }
    input:focus {
        outline-width: 0;
    }
    div{
        @media screen and (max-width: 800px) {
            font-size:.5rem;
        }
    }
    .arrowButton{
        transition: all ease-in 500ms;
        background-color:white;
        border-radius: .5rem;
        display:flex;
        align-items: center;
        justify-content:center;
        height: 5rem;
        width: 5rem;
        margin-right:2rem;
        p{
            display: none;
        }
        @media screen and (max-width: 800px) {
            height: 3rem;
            width: 90%;
            margin-right:0rem;
        }
    }
    .arrowButton:hover{
        transition: all ease-in 500ms;
        background-color: #937749;
        box-shadow: 0 0 10px $shadow;
        img{
            display: none;
        }
        p{
            font-family: 'kraftan',sans-serif;
            width: 50%;
            color: white;
            animation:ease-in 500ms;
            transition: all ease-in 1000ms;
            display: block;
        }
    }

    img{
        position: relative;
        z-index: 30;
        cursor: none;
        height: 30%;
        width:30%;
        box-shadow: none;
    }
}
.carouselArrows{
    width: 98%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 5;
    top: 10%;
    @media screen and (max-width: 800px) {
        top:40%;
        width: 90%;
    }
    img{
        transition: transform ease-in 500ms;
        transform: rotateZ(0deg);
        cursor: none;
        width: 10rem;
        box-shadow: none;
        @media screen and (max-width: 800px) {
            width: 6rem;
            height: 2rem;
        }
    }
    img:hover{
        transition: transform ease-in 500ms;
        transform: rotate3d(1, 0, 0, 45deg)
    }
}
