@import '../colors';

.carouselBody{
    background-color:black;
    border-radius:1rem;
    width:98%;
    height:80vh;
    position: relative;
    margin-bottom: 1rem;
    @media screen and (max-width: 800px) {
        height:80vh;
    }
}
.bookingBar{
    position: absolute;
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    align-items: center;
    bottom: -3rem;
    box-shadow: 0 0 10px $shadow2;
    left: 10%;
    width: 80%;
    height: 18%;
    border-radius:.5rem;
    background-color:$secondary;
    @media screen and (max-width: 800px) {
        display:none;
    }
}
.arrowButton{
    background-color:white;
    width: 10%;
    border-radius:.5rem;
    height: 90%;
    margin-right: .5rem;
}