@import '../colors';

* {
    margin: 0;
    padding: 0;
}

.outerFloat {
    display: flex;
    flex-direction: column;
    padding: 0
}

.floating {

    background-color: $main;
    color: white;
    position: fixed;
    margin-top: 5rem;
    z-index: 100;
    border-radius: 1rem 0rem 0rem 1rem;
    height: 8rem;
    width: 2rem;
    align-self: flex-end;

}

.innerFloat {
    font-family: 'Kraftan', sans-serif;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    padding-right: 0rem;
    padding-top: 3.5rem;
    padding-left: 1.5rem;
    height: 0rem;
    width: 7rem;
    margin-top: 2rem;

}

.postBody {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    h4{
        font-family: 'Kraftan', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 2.5rem;
        // margin-bottom: 1rem;
        // margin-top: 5rem;
        position: absolute;
        // align-self: center;
        z-index: 10;
        // align-self: flex-start;
        // margin-left: 1rem;
        // margin-right: 1rem;
        align-self: baseline
        
    }

    

    img {
        width: 100vw;
        height: 75vh;
    }

    .content {
        width: 50%;

        @media screen and (max-width: 800px) {
            width: 80%;
        }

        img {
            width: 100%;
            border: 1px solid $main;
            border-radius: 0.5rem;

            @media screen and (max-width: 800px) {
                height: 15rem;
            }
        }

        padding: 2rem;

        @media screen and (max-width: 800px) {
            padding: 0rem;
        }
    }
}